<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title></title>
</head>
<body>
<div class="container-sm">
    <div class="card-body">
        <h2 class="card-title" align="center">Grade book</h2>

        <a style="position: absolute; top: 10px; left: 10px;" class="btn btn-success" href="/createHomework" role="button">create homework</a>

        <a style="position: absolute; top: 80px; left: 10px;" class="btn btn-success" href="/createExam" role="button">create exam</a>

        <a style="position: absolute; top: 150px; left: 10px;" class="btn btn-success" href="/submitScore" role="button">Submit Score</a>

    <div class="card-body">
        <h3 class="card-title">homeworks:</h3>
        <table class="table table-dark">
            <tr>
                <th scope="col"> student email</th>
                <th scope="col"> course_id</th>
                <th scope="col"> section_no</th>
                <th scope="col"> hw_no</th>
                <th scope="col"> grade</th>
            </tr>
            <tbody>
            {% for email, course, sec_no,hw_no,grade in result %}
                <tr>
                    <td> {{ email }} </td>
                    <td> {{ course }} </td>
                    <td> {{ sec_no }} </td>
                    <td> {{ hw_no }} </td>
                    <td> {{ grade }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card-body">
        <h3 class="card-title">exams:</h3>
        <table class="table table-dark">
            <tr>
                <th scope="col"> student email</th>
                <th scope="col"> course_id</th>
                <th scope="col"> section_no</th>
                <th scope="col"> exam_no</th>
                <th scope="col"> grade</th>
            </tr>
            <tbody>
            {% for email, course, sec_no,exam_no,grade in result1 %}
                <tr>
                    <td> {{ email }} </td>
                    <td> {{ course }} </td>
                    <td> {{ sec_no }} </td>
                    <td> {{ exam_no }} </td>
                    <td> {{ grade }} </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>